body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root{
    width: 500px;
    padding: 20px 10px;
    background-color:rgb(230, 230, 241);
    border-radius: 10px;
    text-align: center;
}

.second{
    font-size: 20px;
}